html, body, header {
  height: 100%;
}

/* header {
  background: url('../img/background.jpg');
} */

p .material-icons {
  font-size: 7rem;
}

.question {
  border-bottom: 1px solid #ccc;
  padding: 10px 0
}

.question input,
.question .answer { display: none }

.question label {
  display: inline-block;
  font-weight: bold;
  margin-bottom: 5px;
  width: 100%
}

.question input:checked ~ .answer {
  display: block
}
.titulo_duvida {
  text-align: center;
  border-top: 2px;
  border-top: #000000;

=======


.heart:hover {
  color: red;
  transition: 1s;
  transform: scale(1.1); 
}

.world:hover {
  color: rgb(72, 132, 201);
  transition: 1s;
  transform: scale(1.1); 
}

.people:hover {
  color: rgb(192, 192, 42);
  transition: 1s;
  transform: scale(1.1); 
}

.heart {
  transition: 1s;
}

.world {
  transition: 1s;

}

.people {
  transition: 1s;
 }